# Experimenting with Gallica logs

## 1. Importing logs

In [100]:
import os
import numpy as np

# for now I manually extracted a single file to test
file  = open('res296.log','r',encoding="utf8")
lines = file.read().splitlines()

## 2. Exploring logs

In [101]:
import pandas as pd
# convert lines from logs into pandas dataframe
lines_df = pd.DataFrame(lines)

In [102]:
lines_df.head()

                                                   0
0  ##320022e99796ca35dab7e63d48fd5e7##null##null#...
1  ##e7fdec50f50253f6796d61b5382155f8##null##null...
2  ##320022e99796ca35dab7e63d48fd5e7##null##null#...
3  ##e7fdec50f50253f6796d61b5382155f8##null##null...
4  ##320022e99796ca35dab7e63d48fd5e7##null##null#...

In [103]:
# we need to split each line into relevant metadata according to this example from Nouvellet et al.

![caption](log_example.png)

In [104]:
# first split, according to the example we split by ## to get ip, pays, ville and then date/requete/procole/code/taille/référant together
lines_df=lines_df[0].str.split('##', expand=True)

In [105]:
lines_df.head()

,0,1,2,3,4
0,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:10:58:15 +0100] ""GET /ark:/12..."
1,,e7fdec50f50253f6796d61b5382155f8,null,null,"- - [03/Mar/2017:10:58:41 +0100] ""GET /ark:/12..."
2,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:11:01:15 +0100] ""GET /ark:/12..."
3,,e7fdec50f50253f6796d61b5382155f8,null,null,"- - [03/Mar/2017:11:01:41 +0100] ""GET /ark:/12..."
4,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:11:04:15 +0100] ""GET /ark:/12..."

### 2.1 Parsing HTTP requests

In [106]:
# Trying python email library
from email.parser import BytesParser

# testing on one example
request_text = str(lines_df.loc[1200][4])

In [107]:
request_line, headers_alone = request_text.split('-', 1)

In [108]:
request_line,headers_alone

('',
 ' - [03/Mar/2017:18:04:59 +0100] "GET /ark:/12148/bpt6k9657410k.thumbnail HTTP/1.1" 200 3861 "http://gallica.bnf.fr/services/engine/search/sru?operation=searchRetrieve&version=1.2&query=%28gallica%20all%20%22Le%20changement%20de%20nom%20a%20%C3%A9t%C3%A9%20prescrit%20par%20d%C3%A9cret%20du%2023%20octobre%201894.%22%29&suggest=0" "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36" "JSESSIONID=AD5536402E77AAE1014B65581D047634; xtvrn=$18798$" 154554')

In [109]:
import re

In [110]:
p = re.compile('\[([^]]*)\]')
# regex to capture between brackets

In [111]:
print(p.findall(request_text))

['03/Mar/2017:18:04:59 +0100']

In [112]:
p2 = p = re.compile('\"([^]]*)\]')
# regex to capture between brackets

In [113]:
request_text.split(']')[1].split("\"")

[' ',
 'GET /ark:/12148/bpt6k9657410k.thumbnail HTTP/1.1',
 ' 200 3861 ',
 'http://gallica.bnf.fr/services/engine/search/sru?operation=searchRetrieve&version=1.2&query=%28gallica%20all%20%22Le%20changement%20de%20nom%20a%20%C3%A9t%C3%A9%20prescrit%20par%20d%C3%A9cret%20du%2023%20octobre%201894.%22%29&suggest=0',
 ' ',
 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36',
 ' ',
 'JSESSIONID=AD5536402E77AAE1014B65581D047634; xtvrn=$18798$',
 ' 154554']

#### Experimenting with extracting data

In [114]:
# This is just experimental, to change with lazy eval regex when working on bigger data.

In [115]:
request_text = str(lines_df.loc[1200][4])

In [116]:
request_text.split("\"")

['- - [03/Mar/2017:18:04:59 +0100] ',
 'GET /ark:/12148/bpt6k9657410k.thumbnail HTTP/1.1',
 ' 200 3861 ',
 'http://gallica.bnf.fr/services/engine/search/sru?operation=searchRetrieve&version=1.2&query=%28gallica%20all%20%22Le%20changement%20de%20nom%20a%20%C3%A9t%C3%A9%20prescrit%20par%20d%C3%A9cret%20du%2023%20octobre%201894.%22%29&suggest=0',
 ' ',
 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36',
 ' ',
 'JSESSIONID=AD5536402E77AAE1014B65581D047634; xtvrn=$18798$',
 ' 154554']

In [117]:
# get the date 
date = request_text.split("]")[0].split("[")[1]
date

'03/Mar/2017:18:04:59 +0100'

In [118]:
request = ' '.join(request_text.split("\"")[1].split(' ')[:2])
request

'GET /ark:/12148/bpt6k9657410k.thumbnail'

In [119]:
protocole = request_text.split("\"")[1].split(' ')[2]
protocole

'HTTP/1.1'

In [120]:
code =  request_text.split("\"")[2].split(' ')[1]
code

'200'

In [121]:
taille = request_text.split("\"")[2].split(' ')[2]
taille

'3861'

In [122]:
referant = request_text.split("\"")[3]
referant

'http://gallica.bnf.fr/services/engine/search/sru?operation=searchRetrieve&version=1.2&query=%28gallica%20all%20%22Le%20changement%20de%20nom%20a%20%C3%A9t%C3%A9%20prescrit%20par%20d%C3%A9cret%20du%2023%20octobre%201894.%22%29&suggest=0'

In [123]:
ark ='-'
if('ark:/' in request):
    ark = request.split(' ')[1].split('/')[3]
ark

'bpt6k9657410k.thumbnail'

In [124]:
import shutil
import requests
import xmltodict
from bs4 import BeautifulSoup
from xml.etree import ElementTree as ET

In [125]:

def OAI(id):

    OAI_BASEURL = 'https://gallica.bnf.fr/services/OAIRecord?ark='

    url = "".join([OAI_BASEURL, id])
    print(url)

    s = requests.get(url, stream=True)
    soup = BeautifulSoup(s.content,"lxml-xml")
    print(soup)
    file = open('oai.xml', 'wb')
    file.write(soup.prettify().encode('UTF-8'))
    file.close()
    with open('oai.xml',encoding='UTF-8') as xml:
        doc = xmltodict.parse(xml.read())
        return doc

In [126]:
doc = OAI(ark)

https://gallica.bnf.fr/services/OAIRecord?ark=bpt6k9657410k.thumbnail
<?xml version="1.0" encoding="utf-8"?>
<results ResultsGenerationSearchTime="0:00:00.029" countResults="1" resultType="CVOAIRecordSearchService" searchTime="">
<visibility_rights>all</visibility_rights>
<notice>
<record>
<header>
<identifier>oai:bnf.fr:gallica/ark:/12148/bpt6k9657410k</identifier>
<datestamp>2019-06-22</datestamp>
<setSpec>gallica:theme:3:34</setSpec>
<setSpec>gallica:typedoc:periodiques:fascicules</setSpec>
</header>
<metadata>
<oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
<dc:identifier>https://gallica.bnf.fr/ark:/12148/bpt6k9657410k</dc:identifier>
<dc:date>1887</dc:date>
<dc:description>  1887</dc:description>
<dc:description>1887 (TB,A10)-1897.</dc:description>
<dc:description/>
<dc:title>Jurisprudence générale du royaume en matière civile, commerciale et criminelle : ou Journal des audiences de la Cour de cassation et des Cours royales / par M. Dalloz,... et par M. Tournemine,...</dc:title>
<dc:contributor>Dalloz, Désiré (1795-1869). Éditeur scientifique</dc:contributor>
<dc:contributor>Tournemine, Charles Vacher de (1755-1840?). Éditeur scientifique</dc:contributor>
<dc:contributor>Dalloz, Armand (1797-1857). Éditeur scientifique</dc:contributor>
<dc:contributor>Dalloz, Édouard (1826-1886). Éditeur scientifique</dc:contributor>
<dc:contributor>Vergé, Charles-Henri (1810-1890). Éditeur scientifique</dc:contributor>
<dc:contributor>Griolet, Gaston (1842-1934). Éditeur scientifique</dc:contributor>
<dc:contributor>Vergé, Charles (1851-1928). Éditeur scientifique</dc:contributor>
<dc:contributor>Janet, Jules (1813-1894). Collaborateur</dc:contributor>
<dc:contributor>Fauchille, Paul (1858-1926). Collaborateur</dc:contributor>
<dc:contributor>Bourdeaux, Henry (1869-1945). Collaborateur</dc:contributor>
<dc:contributor>Claro, Charles (18..-1921). Collaborateur</dc:contributor>
<dc:publisher> (Paris)</dc:publisher>
<dc:type xml:lang="fre">texte</dc:type>
<dc:type xml:lang="eng">text</dc:type>
<dc:type xml:lang="fre">publication en série imprimée</dc:type>
<dc:type xml:lang="eng">printed serial</dc:type>
<dc:language>fre</dc:language>
<dc:language>français</dc:language>
<dc:relation>Notice du catalogue : http://catalogue.bnf.fr/ark:/12148/cb344196192</dc:relation>
<dc:source>Bibliothèque nationale de France, département Droit, économie, politique, 4-F-12</dc:source>
<dc:rights xml:lang="fre">domaine public</dc:rights>
<dc:rights xml:lang="eng">public domain</dc:rights>
<dc:relation>http://gallica.bnf.fr/ark:/12148/cb344196192/date</dc:relation>
<dc:format>Nombre total de vues :  74580</dc:format>
</oai_dc:dc>
</metadata>
</record>
</notice>
<provenance>bnf.fr</provenance>
<sdewey>34</sdewey>
<dewey>3</dewey>
<source>Bibliothèque nationale de France, département Droit, économie, politique, 4-F-12</source>
<typedoc>fascicule</typedoc>
<nqamoyen>97.81</nqamoyen>
<mode_indexation>text</mode_indexation>
<title>Jurisprudence générale du royaume en matière civile, commerciale et criminelle : ou Journal des audiences de la Cour de cassation et des Cours royales / par M. Dalloz,... et par M. Tournemine,...</title>
<date nbIssue="1">1887</date>
<first_indexation_date>04/04/2016</first_indexation_date>
</results>

In [127]:
type = doc.get('results').get('notice').get('record').get('header').get('setSpec')
type

['gallica:theme:3:34', 'gallica:typedoc:periodiques:fascicules']

In [128]:
metadata = doc.get('results').get('notice').get('record').get('metadata')
metadata

OrderedDict([('oai_dc:dc',
              OrderedDict([('@xmlns:dc', 'http://purl.org/dc/elements/1.1/'),
                           ('@xmlns:oai_dc',
                            'http://www.openarchives.org/OAI/2.0/oai_dc/'),
                           ('@xmlns:xsi',
                            'http://www.w3.org/2001/XMLSchema-instance'),
                           ('@xsi:schemaLocation',
                            'http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd'),
                           ('dc:identifier',
                            'https://gallica.bnf.fr/ark:/12148/bpt6k9657410k'),
                           ('dc:date', '1887'),
                           ('dc:description',
                            ['1887', '1887 (TB,A10)-1897.', None]),
                           ('dc:title',
                            'Jurisprudence générale du royaume en matière civile, commerciale et criminelle : ou Journal des audiences de la Cour de cassation et des Cours royales / par M. Dalloz,... et par M. Tournemine,...'),
                           ('dc:contributor',
                            ['Dalloz, Désiré (1795-1869). Éditeur scientifique',
                             'Tournemine, Charles Vacher de (1755-1840?). Éditeur scientifique',
                             'Dalloz, Armand (1797-1857). Éditeur scientifique',
                             'Dalloz, Édouard (1826-1886). Éditeur scientifique',
                             'Vergé, Charles-Henri (1810-1890). Éditeur scientifique',
                             'Griolet, Gaston (1842-1934). Éditeur scientifique',
                             'Vergé, Charles (1851-1928). Éditeur scientifique',
                             'Janet, Jules (1813-1894). Collaborateur',
                             'Fauchille, Paul (1858-1926). Collaborateur',
                             'Bourdeaux, Henry (1869-1945). Collaborateur',
                             'Claro, Charles (18..-1921). Collaborateur']),
                           ('dc:publisher', '(Paris)'),
                           ('dc:type',
                            [OrderedDict([('@xml:lang', 'fre'),
                                          ('#text', 'texte')]),
                             OrderedDict([('@xml:lang', 'eng'),
                                          ('#text', 'text')]),
                             OrderedDict([('@xml:lang', 'fre'),
                                          ('#text',
                                           'publication en série imprimée')]),
                             OrderedDict([('@xml:lang', 'eng'),
                                          ('#text', 'printed serial')])]),
                           ('dc:language', ['fre', 'français']),
                           ('dc:relation',
                            ['Notice du catalogue : http://catalogue.bnf.fr/ark:/12148/cb344196192',
                             'http://gallica.bnf.fr/ark:/12148/cb344196192/date']),
                           ('dc:source',
                            'Bibliothèque nationale de France, département Droit, économie, politique, 4-F-12'),
                           ('dc:rights',
                            [OrderedDict([('@xml:lang', 'fre'),
                                          ('#text', 'domaine public')]),
                             OrderedDict([('@xml:lang', 'eng'),
                                          ('#text', 'public domain')])]),
                           ('dc:format', 'Nombre total de vues :  74580')]))])

## Extracting data

In [129]:
temp = pd.DataFrame()

In [130]:
# extracting the date of query
temp['date']=lines_df.apply(lambda x: x[4].split("]")[0].split("[")[1] ,axis = 1)

In [131]:
# extracting request
temp['request'] = lines_df.apply(lambda x: ' '.join(x[4].split("\"")[1].split(' ')[:2]),axis=1)

In [132]:
# extracting protocol, still need to look into it further
# do i really need to extract protocol at this point?
# commenting this for now until further research

# temp['protocol'] = lines_df.apply(lambda x: x[4].split("\"")[1].split(' ')[2], axis=1)

In [133]:
# extracting code
# try catch to avoid index errors, need to look into this further, what happens exactly there?
def trycode(value, default):
    try:
        return value[4].split("\"")[2].split(' ')[1]
    except (IndexError):
        return '-'
    return default



temp['code'] = lines_df.apply(lambda x: trycode(x,'-'), axis=1)

In [134]:
# checking unique codes
temp.code.unique()

array(['503', '404', '200', '302', '501', '405', '304', '500', '400',
       '206', '-'], dtype=object)

In [135]:
# extracting length
# try catch to avoid index errors, need to look into this further, what happens exactly there?
def trylength(value, default):
    try:
        return value[4].split("\"")[2].split(' ')[2] 
    except (IndexError):
        return '-'
    return default

temp['length'] = lines_df.apply(lambda x:  trylength(x,'-') , axis=1)

In [136]:
# extracting referant
temp['referant'] = lines_df.apply(lambda x: x[4].split("\"")[3], axis=1)

In [137]:
# extracting ark name

#function to check if the request contains ark
def extract_ark(request):
    ark ='-'
    if('ark:/' in request):
        ark = request.split(' ')[1].split('/')[3]
    return ark

temp['ark'] = temp.apply(lambda x: extract_ark(x['request']), axis=1)

In [138]:
lines_df = lines_df.rename(columns={1:"IPAdress",2:"Country",3:"City"})

In [139]:
final_df = pd.concat([lines_df, temp],axis=1)

In [140]:
final_df

,0,IPAdress,Country,City,4,date,request,code,length,referant,ark
0,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:10:58:15 +0100] ""GET /ark:/12...",03/Mar/2017:10:58:15 +0100,GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m
1,,e7fdec50f50253f6796d61b5382155f8,null,null,"- - [03/Mar/2017:10:58:41 +0100] ""GET /ark:/12...",03/Mar/2017:10:58:41 +0100,GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m
2,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:11:01:15 +0100] ""GET /ark:/12...",03/Mar/2017:11:01:15 +0100,GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m
3,,e7fdec50f50253f6796d61b5382155f8,null,null,"- - [03/Mar/2017:11:01:41 +0100] ""GET /ark:/12...",03/Mar/2017:11:01:41 +0100,GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m
4,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:11:04:15 +0100] ""GET /ark:/12...",03/Mar/2017:11:04:15 +0100,GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m
...,...,...,...,...,...,...,...,...,...,...,...
170099,,62d6ebcb4c44ac6bc6b36479640341a9,United States,Mountain View,"- - [04/Mar/2017:05:20:40 +0100] ""GET /assets/...",04/Mar/2017:05:20:40 +0100,GET /assets/static/javascripts/vendor/jquery.m...,200,1261,http://gallica.bnf.fr/ark:/12148/btv1b10542978v,-
170100,,e7fdec50f50253f6796d61b5382155f8,null,null,"- - [04/Mar/2017:05:20:41 +0100] ""GET /ark:/12...",04/Mar/2017:05:20:41 +0100,GET /ark:/12148/bpt6k70211m,200,32736,-,bpt6k70211m
170101,,62d6ebcb4c44ac6bc6b36479640341a9,United States,Mountain View,"- - [04/Mar/2017:05:20:42 +0100] ""GET /ark:/12...",04/Mar/2017:05:20:42 +0100,GET /ark:/12148/bpt6k209278x.thumbnail,200,2576,-,bpt6k209278x.thumbnail
170102,,62d6ebcb4c44ac6bc6b36479640341a9,United States,Mountain View,"- - [04/Mar/2017:05:20:47 +0100] ""GET /ark:/12...",04/Mar/2017:05:20:47 +0100,GET /ark:/12148/btv1b8439376v,302,20,-,btv1b8439376v
170103,,62d6ebcb4c44ac6bc6b36479640341a9,United States,Mountain View,"- - [04/Mar/2017:05:20:47 +0100] ""GET /ark:/12...",04/Mar/2017:05:20:47 +0100,GET /ark:/12148/bpt6k5789907p,302,20,-,bpt6k5789907p

In [141]:
# To create sessions we would need clear timestamps, we parse the date column to make it easier to leverage.

In [148]:
# first split, according to the example we split by / to get day, month and the last column would still need to be parsed again
temp_df = final_df["date"].str.split('/', expand=True).rename(columns={0:"Day",1:"Month"})

In [149]:
# parse second column to get Year/Hour/Minute
temp_df_2 = temp_df[2].str.split(':',expand=True).drop(columns=[3]).rename(columns={0: "Year", 1: "Hour",2: "Minute"})

In [155]:
# regroup both columns to get one final dataframe containing the date
temp_df=temp_df.drop(columns=[2])
date_df = pd.concat([temp_df,temp_df_2],axis=1)
date_df.head()

  Day Month  Year Hour Minute
0  03   Mar  2017   10     58
1  03   Mar  2017   10     58
2  03   Mar  2017   11     01
3  03   Mar  2017   11     01
4  03   Mar  2017   11     04

In [156]:
#regroup  date dataframe with our main dataframe
final_df = pd.concat([final_df,date_df],axis=1).drop(columns=["date"])
final_df.head()

,0,IPAdress,Country,City,4,request,code,length,referant,ark,Day,Month,Year,Hour,Minute
0,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:10:58:15 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m,03,Mar,2017,10,58
1,,e7fdec50f50253f6796d61b5382155f8,null,null,"- - [03/Mar/2017:10:58:41 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m,03,Mar,2017,10,58
2,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:11:01:15 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m,03,Mar,2017,11,01
3,,e7fdec50f50253f6796d61b5382155f8,null,null,"- - [03/Mar/2017:11:01:41 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m,03,Mar,2017,11,01
4,,320022e99796ca35dab7e63d48fd5e7,null,null,"- - [03/Mar/2017:11:04:15 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k70211m,503,-,-,bpt6k70211m,03,Mar,2017,11,04

In [176]:
# TODO 
# PROBLEM WITH CAPTURING ARK
#
final_df[final_df.IPAdress=="105781f3101367c473a91d52b6d4fd67"]

,0,IPAdress,Country,City,4,request,code,length,referant,ark,Day,Month,Year,Hour,Minute
12352,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:27:36 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k54673247/f1/0,0,3819...",200,19377,http://gallica.bnf.fr/ark:/12148/bpt6k54673247...,12148,03,Mar,2017,18,27
12637,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:27:51 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k54673247/f1/3584,358...",200,281,http://gallica.bnf.fr/ark:/12148/bpt6k54673247...,12148,03,Mar,2017,18,27
12871,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:28:12 +0100] ""GET /service...",GET /services/ajax/extract/ark:/12148/bpt6k623...,200,645,http://gallica.bnf.fr/services/engine/search/s...,extract,03,Mar,2017,18,28
14586,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:32:02 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/5120,3072...",200,412,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,32
14635,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:32:12 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/5120,0,22...",200,940,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,32
14693,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:32:20 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/4864,1024...",200,20090,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,32
14733,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:32:29 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/4608,3584...",200,28825,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,32
14881,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:32:39 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/2816,4096...",200,22317,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,32
14886,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:32:47 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/2048,4608...",200,24264,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,32
14893,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:32:56 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/2048,2048...",200,20773,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,32
14936,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:33:05 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/3840,5376...",200,21910,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,33
15012,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:33:15 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k224257z/f1/4096,6144...",200,19810,http://gallica.bnf.fr/ark:/12148/bpt6k224257z/...,12148,03,Mar,2017,18,33
16248,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:35:29 +0100] ""GET /service...",GET /services/engine/search/ajax/sru/restricte...,200,264,http://gallica.bnf.fr/services/engine/search/s...,-,03,Mar,2017,18,35
19544,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:42:06 +0100] ""GET /service...",GET /services/engine/search/ajax/sru?operation...,200,14482,http://gallica.bnf.fr/services/engine/search/s...,-,03,Mar,2017,18,42
21502,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:44:05 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k76274125.thumbnail,200,4982,http://gallica.bnf.fr/services/engine/search/s...,bpt6k76274125.thumbnail,03,Mar,2017,18,44
25536,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:47:19 +0100] ""GET /service...",GET /services/engine/search/,404,380,http://gallica.bnf.fr/services/engine/search/s...,-,03,Mar,2017,18,47
29673,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:50:53 +0100] ""GET /mbImage...",GET /mbImage/logos/bm-dijon.png,200,4118,http://gallica.bnf.fr/services/engine/search/s...,-,03,Mar,2017,18,50
31017,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:52:35 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k57913119.thumbnail,200,10659,http://gallica.bnf.fr/services/engine/search/s...,bpt6k57913119.thumbnail,03,Mar,2017,18,52
32571,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:54:17 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k5793395m/f11/1024,25...",200,24455,http://gallica.bnf.fr/ark:/12148/bpt6k5793395m...,12148,03,Mar,2017,18,54
32653,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:54:27 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k5793395m/f11/1536,30...",200,20115,http://gallica.bnf.fr/ark:/12148/bpt6k5793395m...,12148,03,Mar,2017,18,54
32718,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:54:36 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k5793395m/f11/0,1280,...",200,7039,http://gallica.bnf.fr/ark:/12148/bpt6k5793395m...,12148,03,Mar,2017,18,54
32819,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:54:46 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k5793395m/f11/0,256,2...",200,8796,http://gallica.bnf.fr/ark:/12148/bpt6k5793395m...,12148,03,Mar,2017,18,54
33106,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:55:07 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k5793395m/f1/1024,512...",200,19010,http://gallica.bnf.fr/ark:/12148/bpt6k5793395m...,12148,03,Mar,2017,18,55
33425,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:55:31 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k5793395m/f11/2048,0,...",200,5639,http://gallica.bnf.fr/ark:/12148/bpt6k5793395m...,12148,03,Mar,2017,18,55
34784,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:57:43 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k5445814d.thumbnail,200,8068,http://gallica.bnf.fr/services/engine/search/s...,bpt6k5445814d.thumbnail,03,Mar,2017,18,57
36253,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:18:59:47 +0100] ""GET /service...",GET /services/engine/search/ajax/sru/restricte...,200,264,http://gallica.bnf.fr/services/engine/search/s...,-,03,Mar,2017,18,59
37102,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:02:46 +0100] ""GET /service...",GET /services/ajax/extract/ark:/12148/bpt6k961...,200,586,http://gallica.bnf.fr/services/engine/search/s...,extract,03,Mar,2017,19,02
39013,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:05:32 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k63271282/f79/0,0,204...",200,13724,http://gallica.bnf.fr/ark:/12148/bpt6k63271282...,12148,03,Mar,2017,19,05
39110,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:05:42 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k63271282/f79/2048,20...",200,5310,http://gallica.bnf.fr/ark:/12148/bpt6k63271282...,12148,03,Mar,2017,19,05
39200,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:05:56 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k63271282/f79/1792,10...",200,5957,http://gallica.bnf.fr/ark:/12148/bpt6k63271282...,12148,03,Mar,2017,19,05
39206,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:06:04 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k63271282/f79/1792,0,...",200,5458,http://gallica.bnf.fr/ark:/12148/bpt6k63271282...,12148,03,Mar,2017,19,06
40998,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:10:44 +0100] ""GET /service...",GET /services/ajax/extract/ark:/12148/bpt6k633...,200,463,http://gallica.bnf.fr/services/engine/search/s...,extract,03,Mar,2017,19,10
43472,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:17:18 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k96923680.lowres,200,82563,http://gallica.bnf.fr/,bpt6k96923680.lowres,03,Mar,2017,19,17
43836,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:18:36 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k57005220.thumbnail,200,13861,http://gallica.bnf.fr/services/engine/search/s...,bpt6k57005220.thumbnail,03,Mar,2017,19,18
45479,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:23:15 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k1651056.thumbnail,200,8939,http://gallica.bnf.fr/services/engine/search/s...,bpt6k1651056.thumbnail,03,Mar,2017,19,23
45762,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:24:22 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k6425595g/f95/2048,20...",200,2552,http://gallica.bnf.fr/ark:/12148/bpt6k6425595g...,12148,03,Mar,2017,19,24
45787,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:24:30 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k6425595g/f95/1024,10...",200,5453,http://gallica.bnf.fr/ark:/12148/bpt6k6425595g...,12148,03,Mar,2017,19,24
45822,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:24:50 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k6425595g/f96.highres,200,268001,http://gallica.bnf.fr/ark:/12148/bpt6k6425595g...,bpt6k6425595g,03,Mar,2017,19,24
47229,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:28:16 +0100] ""GET /service...",GET /services/ajax/extract/ark:/12148/bpt6k612...,200,750,http://gallica.bnf.fr/services/engine/search/s...,extract,03,Mar,2017,19,28
48229,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:30:26 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k63611022/f21/512,204...",200,16646,http://gallica.bnf.fr/ark:/12148/bpt6k63611022...,12148,03,Mar,2017,19,30
48319,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:31:03 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k63611022/f22/1536,10...",200,5112,http://gallica.bnf.fr/ark:/12148/bpt6k63611022...,12148,03,Mar,2017,19,31
48357,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:31:10 +0100] ""GET /iiif/ar...","GET /iiif/ark:/12148/bpt6k63611022/f22/256,768...",200,611,http://gallica.bnf.fr/ark:/12148/bpt6k63611022...,12148,03,Mar,2017,19,31
48494,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:31:36 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k63611022/f21.image.r=Rena...,200,21465,http://gallica.bnf.fr/ark:/12148/bpt6k63611022...,bpt6k63611022,03,Mar,2017,19,31
48802,,105781f3101367c473a91d52b6d4fd67,France,Rubelles,"- - [03/Mar/2017:19:33:04 +0100] ""GET /ark:/12...",GET /ark:/12148/bpt6k6521513m.thumbnail,200,5199,http://gallica.bnf.fr/services/engine/search/s...,bpt6k6521513m.thumbnail,03,Mar,2017,19,33

### Creating sessions

#### 1. Identifying sessions

In [167]:
# Session: séquences de requêtes
# Regrouper même adresse IP => session se termine intervalle supérieur à 60 minutes entre deux requêtes. 
sessions_df = final_df.groupby('IPAdress').agg({'ark':list,'Day':list,'Month':list,'Year':list,'Hour':list,'Minute':list})
sessions_df.head()

,ark,Day,Month,Year,Hour,Minute
IPAdress,,,,,,
103e44bc19d6aac58db9a149c73e505b,[-],[03],[Mar],[2017],[18],[12]
105781f3101367c473a91d52b6d4fd67,"[12148, 12148, extract, 12148, 12148, 12148, 1...","[03, 03, 03, 03, 03, 03, 03, 03, 03, 03, 03, 0...","[Mar, Mar, Mar, Mar, Mar, Mar, Mar, Mar, Mar, ...","[2017, 2017, 2017, 2017, 2017, 2017, 2017, 201...","[18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[27, 27, 28, 32, 32, 32, 32, 32, 32, 32, 33, 3..."
10907c8edc0b2702015e04f49a8204a2,"[-, -, -, -, bpt6k6308044k.lowres, bpt6k759364...","[03, 03, 03, 03, 03, 03, 03, 03, 03, 03, 03, 0...","[Mar, Mar, Mar, Mar, Mar, Mar, Mar, Mar, Mar, ...","[2017, 2017, 2017, 2017, 2017, 2017, 2017, 201...","[18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[05, 05, 05, 05, 05, 05, 05, 05, 05, 05, 05, 0..."
10915f6650d7b3ab000aafb953615c4e,"[bpt6k33258628.thumbnail, bpt6k3321225p.thumbn...","[03, 03, 03]","[Mar, Mar, Mar]","[2017, 2017, 2017]","[19, 19, 19]","[40, 41, 41]"
10dfc529d2b8f1a7ae6f94229848fbf,"[bpt6k4453214, -, -, -, -, -, -, -, -, -, -]","[03, 03, 03, 03, 03, 03, 03, 03, 03, 03, 03]","[Mar, Mar, Mar, Mar, Mar, Mar, Mar, Mar, Mar, ...","[2017, 2017, 2017, 2017, 2017, 2017, 2017, 201...","[18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18]","[38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39]"

In [168]:
sessions_df.iloc[2]

ark       [-, -, -, -, bpt6k6308044k.lowres, bpt6k759364...
Day       [03, 03, 03, 03, 03, 03, 03, 03, 03, 03, 03, 0...
Month     [Mar, Mar, Mar, Mar, Mar, Mar, Mar, Mar, Mar, ...
Year      [2017, 2017, 2017, 2017, 2017, 2017, 2017, 201...
Hour      [18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...
Minute    [05, 05, 05, 05, 05, 05, 05, 05, 05, 05, 05, 0...
Name: 10907c8edc0b2702015e04f49a8204a2, dtype: object

In [179]:
from datetime import datetime

def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%d/%m/%Y:%H:%M:%S")
    d2 = datetime.strptime(d2, "%d/%m/%Y:%H:%M:%S")
    return abs((d2 - d1))

In [181]:
time_1= "03/04/2017:10:58:15 +0100"
time_2 = "04/04/2017:12:58:15 +0100"

days_between(time_1,time_2)

ValueError: unconverted data remains:  +0100